@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	font-size: 62.5%;
	font-size: 10px;
    background-color: #ecf1ff;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
	width: 100%;
	height: 65px;
	position: fixed;
	line-height: 65px;
	text-align: center;
}

.nav div.logo {
	float: left;
	width: auto;
	height: auto;
	padding-left: 3rem;
}

.nav div.logo a {
	text-decoration: none;
	color: #550d39;
	font-size: 2.5rem;
}

.nav div.logo a:hover {
	color: #1a3797;
}

.nav div.main_list {
	height: 65px;
	float: right;
}

.nav div.main_list ul {
	width: 100%;
	height: 65px;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav div.main_list ul li {
	width: auto;
	height: 65px;
	padding: 0;
	padding-right: 3rem;
}

.nav div.main_list ul li a {
	text-decoration: none;
	color: #550d39;
	line-height: 65px;
	font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
	color: #1a3797;
}

/* Home section */

.home {
	width: 100%;
	height: 30vh;
	background-color: #e1d0ff;
	background-position: center top;
	background-size: cover;
    padding-bottom: 10vh;
}
header {
	background: url("http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg");
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: absolute;
	position: static;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay {
	width: 100%;
	height: 100%;
	padding: 10px;
	color: #fff;
	background-image: linear-gradient(135deg, #ffabab 10%, #d9abff 100%);
}

h1 {
	font-family: 'Varela Round', sans-serif;
	font-size: 80px;
	margin-bottom: 30px;
}

h2, p {
	font-family: 'Varela Round', sans-serif;
	margin-bottom: 30px;
    font-size: large;
}



.navTrigger {
	display: none;
}

.nav {
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.container {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.navTrigger {
		display: block;
	}
	.nav div.logo {
		margin-left: 15px;
	}
	.nav div.main_list {
		width: 100%;
		height: 0;
		overflow: hidden;
	}
	.nav div.show_list {
		height: auto;
		display: none;
	}
	.nav div.main_list ul {
		flex-direction: column;
		width: 100%;
		height: 100vh;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: #ffffff;
		/*same background color of navbar*/
		background-position: center top;
	}
	.nav div.main_list ul li {
		width: 100%;
		text-align: right;
	}
	.nav div.main_list ul li a {
		text-align: center;
		width: 100%;
		font-size: 3rem;
		padding: 20px;
	}
	.nav div.media_button {
		display: block;
	}
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	margin: auto;
	position: sticky;
	right: 30px;
	top: 0;
	bottom: 0;
}

.navTrigger i {
	background-color: #fff;
	border-radius: 2px;
	content: "";
	display: block;
	width: 100%;
	height: 4px;
}

.navTrigger i:nth-child(1) {
	-webkit-animation: outT 0.8s backwards;
	animation: outT 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
	margin: 5px 0;
	-webkit-animation: outM 0.8s backwards;
	animation: outM 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
	-webkit-animation: outBtm 0.8s backwards;
	animation: outBtm 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
	-webkit-animation: inT 0.8s forwards;
	animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
	-webkit-animation: inM 0.8s forwards;
	animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
	-webkit-animation: inBtm 0.8s forwards;
	animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes inM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes outM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes outM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes inT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes outT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes inBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

@-webkit-keyframes outBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

.affix {
	padding: 0;
	background-color: #e1d0ff;
}


@media all and (max-width: 700px) {
	.myP {
		padding: 2%;
	}
}


.p {
	text-align: justify;
	padding-left: 15%;
	padding-right: 40%;

}


table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px ;
    padding: 5%;
    text-align: center;
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }

  html {
    font-family: 'Varela Round', sans-serif;
  }
  
  thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }
